#quote-bg {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

#quote-box{
    background-color: white;
    width: 550px;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: calc(50% - 632px/2);
    border-radius: 3px;
}

.bi-twitter{
    color: aliceblue;
    transform: scale(1.3)
}

#buttons {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
}

.authors{
    text-align: end;
    font-size: 16px;
}

.texts{
    font-size: 28px;
    font-weight: normal;
}

#quoteSymbol::before{
    transform: scale(1.5);
    right: 100px;
}

#tweet-quote{
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

#new-quote{
    border: none;
    height: 38px;
    border-radius: 2px;
    color: aliceblue;
    font-size: 13px;
    padding: 0 15px;
    z-index: 2;
}
